[submodule "client"]
	path = client
	url = git@github.com:vibefi/client.git
[submodule "dapp-examples"]
	path = dapp-examples
	url = git@github.com:vibefi/dapp-examples.git
[submodule "studio"]
	path = studio
	url = git@github.com:vibefi/studio.git
[submodule "contracts"]
	path = contracts
	url = git@github.com:vibefi/contracts.git
[submodule "cli"]
	path = cli
	url = git@github.com:vibefi/cli.git
[submodule "e2e"]
	path = e2e
	url = git@github.com:vibefi/e2e.git
